.settingContainer{
    display:flex;
    justify-content: space-around;
    font-size: larger;
}

.setting{
    display:flex;
    // background-color: yellow;



}
.icon{
    padding: 0.5em;
    font-size: 1.5em;;
}