.header {
    padding: 7rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    border-style: solid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -0.1em;
  }

  .headingContainer{
    background-color: white;

    // color:white;
  }


