$movie_info_background:rgba(230, 228, 228, 0.77);
$movie_title_color:rgba(54, 53, 53, 0.86);
$detail_info_box:rgba(4, 7, 25, 0.92);

.list {
    padding: 2rem;
    display: inline-block;
    // flex-wrap: wrap;
    // justify-content: space-around;

  }
  
  .gal{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  
  .Results-title {
    text-decoration: none;

    color: $movie_title_color;
  }

 .block{
      display:flex;
    //   justify-content: space-around;
    padding: 0.5rem;
    background-color: $movie_info_background;
    margin-bottom: 1.5rem;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;

  }
  .list .movieInfo{
      margin-left: 2rem;

    font-size: 1.2em;
    line-height: 2em;
  }
  .list .block:hover{
      cursor: pointer;
    background-color: rgba(166, 159, 159, 0.36);
  }
  .title{

    font-size: 2rem;
  }
  .detailInfo{
    overflow: auto;
  }

//  .list .detailInfo{
//       background-color:$detail_info_box;
//       position: fixed;
//         // text-align: center;
//         padding: 4%;
//       color:white;
//       z-index: 100;
//       top: 15%;
//       margin-left: 20%;

//       width: 60%;
// height: 60%;
//   }
.gal .movieInfo{
  display: none;
}

.detailInfo{
  background-color:$detail_info_box;
  color:white;
  z-index: 100;
  position: fixed;
  display: block;
  top: 15%;
  left: 20%;
  width: 60%;
  height: 60%;
   padding: 4%;
  // text-align: center;
  line-height: 200%;


}
// .gal .detailInfo{
//   display: none;
// }
.genrelist li{
  display: inline;
  // margin: 10;
  
}

ul
{
  padding: 0;
list-style: none;
text-align: left;
// margin: 4%;
}

.genrelist li
{
padding-left: .6em;
}

.close {
  text-decoration: none;
  color:white;
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 1%;
  font-size: larger;
}
  
.control{

position: relative;
top:20%;
    display: flex;
  justify-content: space-around;
}

.prev{
  text-decoration: none;
  color:white;
}
.prev:hover{
  text-decoration: none;
  background-color:rgb(133, 128, 128);
}

.settingContainer{
  display:flex;
  justify-content: space-around;
  font-size: larger;
}

.setting{
  display:flex;
  // background-color: yellow;



}
.icon{
  padding: 0.5em;
  font-size: 1.5em;;
}